/* ------ Base Element Styles ------ */

* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    margin: 0;
    text-align: center;
    background: #b19eac;
}

a {
    text-decoration: #a0283c;
}

a:hover {
    color: hsl(193, 50%, 77%);
}

.footer-paragraph {
    text-transform: uppercase;
}





/* ----- Base Layout Styles ------ */

.main-nav {
    background-color: rgba(61, 199, 187, 0.3);
    font-weight: 200;
    margin: auto;
    padding: 10px 10px 10px;

}

body {
    background-image: url(backgroundImage.jpg);
    background-size: 100% 100%;
    background-position: center center;
}

.nav {
    list-style: none;
    justify-content: space-around;
}


.main-text {
    color: black;
    padding: 300px 300px 290px;
}

.main-body {
    display: flex;
    flex-direction: column;
}

.paragraph1 {
    padding: 10px 20px 10px;
}

footer {
    width: auto;
    min-height: 50px;
    padding: 80px 10px 50px;
    color: rgb(22, 163, 121);
    background: white;
}
    
/* =====================================
   Media Queries
======================================
@media (min-width: 769px) {
    .main-nav,
    .nav {
        width: 90%;
        margin: 0 auto;
    }
}
@media (min-width: 1025px) {
    .main-nav, 
    .nav {
        width: 80%;
        max-width: 2150px;
    }
}
*/

@media (min-width:769px) {
    .main-nav 
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
   
}
